/*
**********************
* Menu Styles
* Menu knop animation
* Menu beweging
* Mobile
* Desktop
**********************
*/


:root {
  --soft_red: hsl(7, 99%, 70%); 
  --yellow: hsl(51, 100%, 49%);
  --soft_red-a: hsla(7, 99%, 70%, 0.5); 
  --yellow-a: hsla(51, 100%, 49%, 0.5);
  --dark_desaturated_cyan : hsl(167, 40%, 24%); /* graphic design text */
  --dark_blue: hsl(198, 62%, 26%); /* photography text */ 
  --dark_moderate_cyan : hsl(168, 34%, 41%); /* footer */ 
  --very_dark_desaturated_blue: hsl(212, 27%, 19%); 
  --very_dark_grayish_blue: hsl(213, 9%, 39%); 
  --dark_grayish_blue: hsl(232, 10%, 55%); 
  --grayish_blue: hsl(210, 4%, 67%); 
  --white: hsl(0, 0%, 100%); 
  --white_button: hsla(0, 0%, 100%, 0.6);
  --overlay-color: rgba(24, 39, 51 , 0.85);

  --fraunces: 'Fraunces', sans-serif;
  --barlow: 'Barlow', sans-serif;

  --standard_element_width: 100vw; 
}

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

h1, h2, h3 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3em;
  letter-spacing: 11px;
}


h3 {
  font-size: 1em;
  color: var(--grayish_blue);
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 80px;
  text-align: center; 
}

header {
  display: flex;
  flex-direction: column;
}

header .text {
  text-transform: uppercase;
  color: var(--white); 
}

.text2 h2 {
  color: var(--dark_desaturated_cyan); 
}

.text2 p {
  color: var(--dark_blue); 
}

.text3 h2 
.text3 p {
  color: black; 
}

.url {
  width: 100%;
  display: block;
  color: black;
  font-family: 'Fraunches', sans-serif;
  font-weight: 900;
  margin-bottom: 40px;
}

.url :hover {
  cursor: pointer;
}


/* ---------------- info --------------------*/


.standout {
  text-decoration-color: var(--soft_red-a);
}

.transform:hover {
  text-decoration-color: var(--yellow);
}

.standout:hover {
  text-decoration-color: var(--soft_red);
}


/* ---------------- services --------------------*/


.services img {
  position: absolute; 
  z-index: -1;
}

.services .text {
  position: relative; 
  top: 180px;
}


/* ---------------- clients --------------------*/


.clients {
  display: flex;
}

.client{
  flex-direction: column;
  text-align: center;  
}

.clients img {
  width: 73px; 
  height: 73px;
  border-radius: 50%; 
}

.review {
  color: var(--very_dark_grayish_blue);
  text-align: center; 
  font-family: var(--barlow); 
}

.name {
  font-family: 'Fraunches', sans-serif;
  font-weight: 900;
}

.title {
  color: var(--dark_grayish_blue);
}


/* ---------------- projects --------------------*/


.projects {
  display: flex;
}
 


/* ---------------- footer --------------------*/


footer {
  display: flex; 
  flex-direction: column; 
  background-color: #87cdbd;
  color: var(--dark_desaturated_cyan); 
  display: flex; 
  justify-content: center;
  padding-top: 65px; 
}

footer .logo {
  text-align: center;
  color: var(--dark_desaturated_cyan); 
}

footer img {
  filter: invert(35%) sepia(3%) saturate(5644%) hue-rotate(116deg) brightness(60%) contrast(101%);
  text-align: center; 
  height: 36px; 
  width: 186px;   
}


/* ---------------- MENU --------------------*/


.menu-2 > ul{
  display: flex; 
  flex-direction: row;
  justify-content: center; ;
}

.menu-2 > ul > li {
  list-style: none;
  color:  var(--dark_grayish_blue); 
  font-size: 1.2rem;
  padding: 2rem;
  font-family: 'Barlow', sans-serif;
}

.menu-2 > ul > li > a {
  color: var(--dark_desaturated_cyan);
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-2 > ul > li > a:hover{
  color: var(--white); 
}

.socials {
  text-align: center;
}

i {
  font-size:20px; 
  color: var(--dark_desaturated_cyan);
  margin-bottom: 60px;
  margin-top: 30px;
  margin-left:40px;   
}


.fa-brands:hover {
  color: white; 
}



/* 
**************
*            *
*   Mobile   * 
*            *
**************
*/



@media screen and (max-width: 1440px){

  body {
    display: flex; 
    justify-content: center; 
  }

  .main-container {
    width: 375px;
  }

  header {
    background-image: url('./images/mobile/image-header.jpg');
    width: 375px; 
    height: 538px;
    background-size: cover; 
    background-position: center;
    padding: 20px; 
  }

  header .text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 45px;
  }

  header .text .arrow {
    position: absolute;
    top: 180px;
  }
  

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    font-size: 2.2em;
    letter-spacing: 9px;
    text-align: center; 
  }

  h2 {
    font-size: 1.9em;
    color: var(--very_dark_desaturated_blue);
    font-weight: 900;
    margin-bottom: 30px; 
  }

  /*  ----------- mobile menu ------------------*/ 

  .menu-wrap {
    position: relative;
    top: -15px;
    left: 170px;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  /* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}


.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked ~ .overlay {
  transform: scale(1);
  transition-duration: .5s;
}

.menu-wrap .toggler:checked ~ .menu-1 {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu_overlay {
  opacity: 1;
  transition:  opacity 0.4s ease 1s;
}

.menu-wrap .menu-1 {
  position: relative;
  top: 50px;
  right: 300px;
  width: 340px;
  height: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.menu-wrap .menu-1:after {
  content: ""; 
  position: absolute;
  top: 0; 
  left: 50%; 
  width:0; 
  height: 20; 
  border: 30px solid transparent; 
  border-bottom-color: white; 
  border-top: 0; 
  border-right: 0; 
  margin-left: 140px; 
  margin-top: -30px;
} 

.menu_overlay > ul > li {
  list-style: none;
  color: var(--grayish_blue); 
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center; 
}

.menu_overlay > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.btn {
  background-color: var(--yellow);
  border: none; 
  padding-top: 20px; 
  padding-bottom: 20px;
  padding-left: 30px; 
  padding-right: 30px;
  font-weight: 700;
  font-family: var(--fraunces);
  font-size: 1rem;
  border-radius: 40px;      
}

  

    
  /*  ------ info section ----------------------------- */
  
  .info .top .text,
  .info .bottom .text {
    padding: 50px 20px 40px 20px;
    text-align: center; 
  }

  .info .top .text p,  
  .info .bottom .text p{
    font-size: 18px; 
    color: var(--dark_grayish_blue);
    line-height: 1.7;
    margin-bottom: 20px; 
  }

  .url {
    font-size: 1rem; 
    text-decoration: none; 
    font-family: var(--fraunces);
    letter-spacing: 2px;
    position: relative;
  }

  .transform:after {
    content: ""; 
    position: absolute; 
    height: 0.8rem; 
    left: 90px; 
    right: -10px; 
    top: 60%;
    width: 150px;  
    background-color: var(--yellow);
    border-radius: 100px; 
    z-index: -1; 
  }

  .transform:hover::after{
    background-color: var(--yellow-a); 
  }

  .standout:after {
    content: ""; 
    position: absolute; 
    height: 0.8rem; 
    left: 96px; 
    right: -10px; 
    top: 60%;
    width: 140px;  
    background-color: var(--soft_red);
    border-radius: 100px; 
    z-index: -1; 
  }

  .standout:hover::after {
    background-color: var(--soft_red-a); 
  }
  

  .info .image-t img, .image-b img {
    width: 375px;
    height: 312px; 
  }

  
  /*  ----- services section --------------------------- */ 

  .design, .photography {
    width: 375px;
    height: 600px
  }

  .services img {
    width: 375px; 
    height: 600px; 
  }

  .services .text {
    position: relative;
    top: 390px;
    text-align: center; 
  }

 /* -------------------- projects section ---------------- */ 

 .projects {
  display: flex; 
  flex-direction: column;
 }

 .project img {
    width: 375px; 
    height: 376px;    
 }

 .text2 p {
  padding-left: 15px; 
  padding-right: 15px;
  font-size: 15px;
  line-height: 1.7;   
 }

 /* --------- client testimonials  ------------------- */

 h3 {
  font-size: .7em;
  color: var(--grayish_blue);
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 65px;
  text-align: center
}

.clients {
  display:flex; 
  flex-direction: column;
}

.client {
  margin-bottom: 75px
}

.client img {
  width: 68px; 
  height: 68px; 
  border-radius: 50%;
  margin-bottom: 20px;  
}

.review {
  padding-left: 30px; 
  padding-right: 30px;
  line-height: 1.5;
  margin-bottom: 30px;  
}

.name {
  font-size: 17px;
  font-family: var(--fraunces);
  margin-bottom: 10px;  
}

.title {
  font-size: 13px;
  color: var(--grayish_blue); 
}

/*  ------------- projects section --------- */ 

.projects {
  width: 375px;
  display: flex; 
  flex-direction: column; 
}

.projects .top 
.projects .bottom {
  width: 188px;
  height: 188px;
}

.projects .top {
  display: flex; 
  flex-direction: row; 
}
.projects .bottom {
  display: flex; 
  flex-direction: row;
}

.project {
  height: 188px; 
}

.project img {
  width: 188px;
  height: 188px;  
}


}

/*
***************
*             *
*   Desktop   * 
*             *
***************
*/


@media  screen and (min-width: 1440px) {

  body {
    display: flex; 
    justify-content: center; 
  }

  .main-container {
    width: 1440px;
  }

  h1 {
    font-size: 3em;
    letter-spacing: 11px;
  }

  h2 {
    font-size: 2.2em;
    color: var(--very_dark_desaturated_blue);
  }


  /* ---------------- header --------------------*/


  header{
    height:  800px;
    display: flex;
    background-image: url('./images/desktop/image-header.jpg');
    background-size: cover;
    background-position: center;
  }

  header .text {
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 65px; 
  }

  header .text .arrow {
    position: absolute;
    top: 240px; 
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .navbar .logo {
    height: 32px;
    display: flex;
    margin: 20px
  }

  .navbar .menu-1 .hamburger{
    display: none; 
  }

  .navbar .menu-1 li {
    display: inline-block;
    padding:10px 22px
  }

  .navbar .menu-1 a {
    text-decoration: none;
    font-size: 18px;
    color: var(--white);
  }

  .navbar p {
    color: var(--very_dark_desaturated_blue); 
  }

  .navbar button {
    background-color: var(--white);
    border-radius: 30px;
    padding: 18px 30px;
    border: none;
    font-size: 1.0rem;
    color: var(--white);
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;     
  }

  .navbar button:hover {
    background-color: var(--white_button);
    border-radius: 30px;
    padding: 18px 30px;
    border: none;
    font-size: 1.0rem;
    color: var(--white);
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;     
  }

  .toggler {
    display: none; 
  }


  /* ---------------- main INFO --------------------*/


  .info {
    display: flex;
    flex-direction: column;
  }

  .info .top, .bottom {
    display: flex;
  }

  .info .top {
    flex-direction: row-reverse;
  }

  .info .image-t, .image-b {
    width: 720px;
    height: 600px; 
  }

  .info .text {
    width: 720px;
    height: 600px;
    padding: 150px 102px 150px 170px;
    display: block; 
  }

  .info .top .text {    
    padding: 150px 102px 150px 170px;
  }

  .info .bottom .text {    
    padding: 150px 170px 150px 102px;
  }

  .info .text h2 {
    padding-bottom: 30px;
  }

  .info .text p {
    color: var(--grayish_blue);
    line-height: 28px;
    padding-bottom: 30px;
  }

  .info .text a {
    font-family: var(--fraunces);
    font-size: 16px;
    padding-left: 5px;
  }

  /* ---------------- main SERVICES --------------------*/

  .services {
    width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: row;
  }

  .design, .photography{
    width: 720px;
    height: 600px;
  }

  .services .design .text, .services .photography .text  {
    opacity: 0.8;
    text-align: center;
    line-height: 28px;
    margin-top: 160px;
    padding: 60px 175px 40px 175px;
  }


  .services h2 {
    font-size: 1.6em;
    padding-bottom: 25px;
  }

  .services p {
    font-size: 17px;
  }


 /* ---------------- main CLIENTS --------------------*/

.clients_container {
  padding-top: 150px;
  padding-bottom: 165px;  
}

 .clients {
  flex-direction: row;
  padding: 0px 165px;
}

.client {
  width: 480px;  
}

.clients img {
  margin-bottom: 50px;  
}

.review {
  color: var(--very_dark_grayish_blue);
  text-align: center;
  font-size: 18.1px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 1.7;
  font-family: var(--barlow);
  margin-bottom: 80px; 
}

.review1 {
  letter-spacing: -0.2px;
  padding-left: 10px; 
  padding-right: 18px; 
}

.review2 {
  padding-left: 10px; 
  padding-right: 8px; 
}

.review3 {
  padding-left: 16px; 
}

.name {
  font-family: var(--fraunces);
  margin-bottom: 10px;
}

.title {
  color: var(--grayish_blue);
  font-size: 14px;

}


/* ---------------- main PROJECTS --------------------*/

.projects{
  display: flex; 
  width: 1440px;
  height: 447px;
}

.top{
  display: flex; 
}

.project {
  width: 360px;
  display: flex;  
}

.project img {
  width: 360px; 
}
/* ---------------- FOOTER --------------------*/

}  

